# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/test2.ilk
Debug/test2.pdb
test2/Debug/CL.read.1.tlog
test2/Debug/link.29304-rc.read.1.tlog
test2/Debug/link.29304-rc.write.1.tlog
test2/Debug/link.29304.read.1.tlog
test2/Debug/link.29304.write.1.tlog
test2/Debug/link.6348-cvtres.read.1.tlog
test2/Debug/link.6348-cvtres.write.1.tlog
test2/Debug/link.6348-rc.read.1.tlog
test2/Debug/link.6348-rc.write.1.tlog
test2/Debug/link.6348.read.1.tlog
test2/Debug/link.6348.write.1.tlog
test2/Debug/link.command.1.tlog
test2/Debug/link.read.1.tlog
test2/Debug/link.write.1.tlog
test2/Debug/test2.log
test2/Debug/vc110.idb
test2/Debug/vc110.pdb
test2/Debug/vc110.pdb
test2/Debug/vc110.idb
test2/Debug/test2.log
test2/Debug/link.2216.write.1.tlog
test2/Debug/link.2216.read.1.tlog
test2/Debug/link.2216-rc.write.1.tlog
test2/Debug/link.2216-rc.read.1.tlog
test2/Debug/link.2216-cvtres.write.1.tlog
test2/Debug/link.2216-cvtres.read.1.tlog
test2/Debug/link.15980.write.1.tlog
test2/Debug/link.15980.read.1.tlog
test2/Debug/link.15980-rc.write.1.tlog
test2/Debug/link.15980-rc.read.1.tlog
test2/Debug/link.15980-cvtres.write.1.tlog
test2/Debug/link.15980-cvtres.read.1.tlog
test2/Debug/link.10276.write.1.tlog
test2/Debug/link.10276.read.1.tlog
test2/Debug/link.10276-rc.write.1.tlog
test2/Debug/link.10276-rc.read.1.tlog
test2/Debug/link.10276-cvtres.write.1.tlog
test2/Debug/link.10276-cvtres.read.1.tlog
