# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/test2.ilk
Debug/test2.pdb
test2/Debug/CL.read.1.tlog
test2/Debug/link.29304-rc.read.1.tlog
test2/Debug/link.29304-rc.write.1.tlog
test2/Debug/link.29304.read.1.tlog
test2/Debug/link.29304.write.1.tlog
test2/Debug/link.6348-cvtres.read.1.tlog
test2/Debug/link.6348-cvtres.write.1.tlog
test2/Debug/link.6348-rc.read.1.tlog
test2/Debug/link.6348-rc.write.1.tlog
test2/Debug/link.6348.read.1.tlog
test2/Debug/link.6348.write.1.tlog
test2/Debug/link.command.1.tlog
test2/Debug/link.read.1.tlog
test2/Debug/link.write.1.tlog
test2/Debug/test2.log
test2/Debug/vc110.idb
test2/Debug/vc110.pdb
test2/Debug/vc110.pdb
test2/Debug/vc110.idb
test2/Debug/test2.log
test2/Debug/link.2216.write.1.tlog
test2/Debug/link.2216.read.1.tlog
test2/Debug/link.2216-rc.write.1.tlog
test2/Debug/link.2216-rc.read.1.tlog
test2/Debug/link.2216-cvtres.write.1.tlog
test2/Debug/link.2216-cvtres.read.1.tlog
test2/Debug/link.15980.write.1.tlog
test2/Debug/link.15980.read.1.tlog
test2/Debug/link.15980-rc.write.1.tlog
test2/Debug/link.15980-rc.read.1.tlog
test2/Debug/link.15980-cvtres.write.1.tlog
test2/Debug/link.15980-cvtres.read.1.tlog
test2/Debug/link.10276.write.1.tlog
test2/Debug/link.10276.read.1.tlog
test2/Debug/link.10276-rc.write.1.tlog
test2/Debug/link.10276-rc.read.1.tlog
test2/Debug/link.10276-cvtres.write.1.tlog
test2/Debug/link.10276-cvtres.read.1.tlog
test2/Debug/cl.command.1.tlog
test2/Debug/CL.read.1.tlog
test2/Debug/CL.write.1.tlog
test2/Debug/link.20148-cvtres.read.1.tlog
test2/Debug/link.20148-cvtres.write.1.tlog
test2/Debug/link.20148-rc.read.1.tlog
test2/Debug/link.20148-rc.write.1.tlog
test2/Debug/link.20148.read.1.tlog
test2/Debug/link.20148.write.1.tlog
test2/Debug/link.22664-cvtres.read.1.tlog
test2/Debug/link.22664-cvtres.write.1.tlog
test2/Debug/link.22664-rc.read.1.tlog
test2/Debug/link.22664-rc.write.1.tlog
test2/Debug/link.22664.read.1.tlog
test2/Debug/link.22664.write.1.tlog
test2/Debug/link.23700-cvtres.read.1.tlog
test2/Debug/link.23700-cvtres.write.1.tlog
test2/Debug/link.23700-rc.read.1.tlog
test2/Debug/link.23700-rc.write.1.tlog
test2/Debug/link.23700.read.1.tlog
test2/Debug/link.23700.write.1.tlog
test2/Debug/link.24864-cvtres.read.1.tlog
test2/Debug/link.24864-cvtres.write.1.tlog
test2/Debug/link.24864-rc.read.1.tlog
test2/Debug/link.24864-rc.write.1.tlog
test2/Debug/link.24864.read.1.tlog
test2/Debug/link.24864.write.1.tlog
test2/Debug/link.command.1.tlog
test2/Debug/link.read.1.tlog
test2/Debug/link.write.1.tlog
test2/Debug/test2.log
test2/Debug/vc110.idb
test2/Debug/vc110.pdb
test2/Debug/cl.command.1.tlog
test2/Debug/CL.read.1.tlog
test2/Debug/CL.write.1.tlog
test2/Debug/link.13292-cvtres.read.1.tlog
test2/Debug/link.13292-cvtres.write.1.tlog
test2/Debug/link.13292-rc.read.1.tlog
test2/Debug/link.13292-rc.write.1.tlog
test2/Debug/link.13292.read.1.tlog
test2/Debug/link.13292.write.1.tlog
test2/Debug/link.16200-cvtres.read.1.tlog
test2/Debug/link.16200-cvtres.write.1.tlog
test2/Debug/link.16200-rc.read.1.tlog
test2/Debug/link.16200-rc.write.1.tlog
test2/Debug/link.16200.read.1.tlog
test2/Debug/link.16200.write.1.tlog
test2/Debug/link.1888-cvtres.read.1.tlog
test2/Debug/link.1888-cvtres.write.1.tlog
test2/Debug/link.1888-rc.read.1.tlog
test2/Debug/link.1888-rc.write.1.tlog
test2/Debug/link.1888.read.1.tlog
test2/Debug/link.1888.write.1.tlog
test2/Debug/link.19216-cvtres.read.1.tlog
test2/Debug/link.19216-cvtres.write.1.tlog
test2/Debug/link.19216-rc.read.1.tlog
test2/Debug/link.19216-rc.write.1.tlog
test2/Debug/link.19216.read.1.tlog
test2/Debug/link.19216.write.1.tlog
test2/Debug/link.20756-cvtres.read.1.tlog
test2/Debug/link.20756-cvtres.write.1.tlog
test2/Debug/link.20756-rc.read.1.tlog
test2/Debug/link.20756-rc.write.1.tlog
test2/Debug/link.20756.read.1.tlog
test2/Debug/link.20756.write.1.tlog
test2/Debug/link.20896-cvtres.read.1.tlog
test2/Debug/link.20896-cvtres.write.1.tlog
test2/Debug/link.20896-rc.read.1.tlog
test2/Debug/link.20896-rc.write.1.tlog
test2/Debug/link.20896.read.1.tlog
test2/Debug/link.20896.write.1.tlog
test2/Debug/link.21432-cvtres.read.1.tlog
test2/Debug/link.21432-cvtres.write.1.tlog
test2/Debug/link.21432-rc.read.1.tlog
test2/Debug/link.21432-rc.write.1.tlog
test2/Debug/link.21432.read.1.tlog
test2/Debug/link.21432.write.1.tlog
test2/Debug/link.21468-cvtres.read.1.tlog
test2/Debug/link.21468-cvtres.write.1.tlog
test2/Debug/link.21468-rc.read.1.tlog
test2/Debug/link.21468-rc.write.1.tlog
test2/Debug/link.21468.read.1.tlog
test2/Debug/link.21468.write.1.tlog
test2/Debug/link.22292-cvtres.read.1.tlog
test2/Debug/link.22292-cvtres.write.1.tlog
test2/Debug/link.22292-rc.read.1.tlog
test2/Debug/link.22292-rc.write.1.tlog
test2/Debug/link.22292.read.1.tlog
test2/Debug/link.22292.write.1.tlog
test2/Debug/link.22956-cvtres.read.1.tlog
test2/Debug/link.22956-cvtres.write.1.tlog
test2/Debug/link.22956-rc.read.1.tlog
test2/Debug/link.22956-rc.write.1.tlog
test2/Debug/link.22956.read.1.tlog
test2/Debug/link.22956.write.1.tlog
test2/Debug/link.23144-cvtres.read.1.tlog
test2/Debug/link.23144-cvtres.write.1.tlog
test2/Debug/link.23144-rc.read.1.tlog
test2/Debug/link.23144-rc.write.1.tlog
test2/Debug/link.23144.read.1.tlog
test2/Debug/link.23144.write.1.tlog
test2/Debug/link.23952-cvtres.read.1.tlog
test2/Debug/link.23952-cvtres.write.1.tlog
test2/Debug/link.23952-rc.read.1.tlog
test2/Debug/link.23952-rc.write.1.tlog
test2/Debug/link.23952.read.1.tlog
test2/Debug/link.23952.write.1.tlog
test2/Debug/link.28444-cvtres.read.1.tlog
test2/Debug/link.28444-cvtres.write.1.tlog
test2/Debug/link.28444-rc.read.1.tlog
test2/Debug/link.28444-rc.write.1.tlog
test2/Debug/link.28444.read.1.tlog
test2/Debug/link.28444.write.1.tlog
test2/Debug/link.32-cvtres.read.1.tlog
test2/Debug/link.32-cvtres.write.1.tlog
test2/Debug/link.32-rc.read.1.tlog
test2/Debug/link.32-rc.write.1.tlog
test2/Debug/link.32.read.1.tlog
test2/Debug/link.32.write.1.tlog
test2/Debug/link.command.1.tlog
test2/Debug/link.read.1.tlog
test2/Debug/link.write.1.tlog
test2/Debug/test2.log
test2/Debug/vc110.idb
test2/Debug/vc110.pdb
